<div class="widget tag social">
  <ul class="unstyled">
    <li><a class="github" href="//github.com/lc2010" target="blank"><i class="icon-github"></i> Github</a></li>
    <li><a class="weibo" href="//weibo.com/liangchao1985" target="blank"><i class="icon-weibo"></i> weibo</a></li>
  </ul>  
</div>